---
title: 회사 소개
layout: default
permalink: /about/
---

<section class="bg-dark text-light header-inner p-0 jarallax o-hidden" data-overlay data-jarallax data-speed="0.2">
	<img src="/assets/img/about/inner-1.jpg" alt="Image" class="jarallax-img opacity-30" />
	<div class="container py-0 layer-2">
		<div class="row my-3">
			<div class="col">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/">{% translate global.home %}</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							{% translate nav.about %}
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row my-4 my-md-6" data-aos="fade-up">
			<div class="col-lg-9 col-xl-8">
				<h1 class="display-4">{% translate about.hero.title %}</h1>
				<p class="lead mb-0">{% translate about.hero.lead %}</p>
			</div>
		</div>
	</div>
	<div class="divider flip-x">
		<img src="/assets/img/dividers/divider-1.svg" alt="graphical divider" data-inject-svg />
	</div>
</section>
<section>
	<div class="container" data-aos="fade-up">
		<div class="row align-items-center justify-content-around">
			<div class="col-md-5 col-xl-6 mb-4 mb-md-0">
				<img src="/assets/img/about/louis-dmc.jpg" alt="Image" class="rounded shadow-3d" />
			</div>
			<div class="col-md-7 col-xl-6">
				<div class="row justify-content-center">
					<div class="col-xl-8 col-lg-10">
						<span class="badge badge-primary">{% translate about.mission.badge %}</span>
						<div class="my-3">
							<span class="h1">{% translate about.mission.title %}</span>
						</div>
						<p class="lead">{% translate about.mission.lead_1 %}</p>
						<p class="lead mb-0">{% translate about.mission.lead_2 %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-primary-2-alt p-0">
	<div class="container py-6">
		<div class="row mb-4" data-aos="fade-up">
			<div class="col">
				<h2>{% translate about.team.title %}</h2>
			</div>
		</div>
		<div class="row mb-3">
			{% for item in site.translations[site.lang].about.team.members %}
			<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="NaN">
				<div class="card card-lg card-body align-items-center">
					{% if item['badge'] %}
					<span class="badge badge-primary badge-top">{{ item['badge'] }}</span>
					{% endif %}
					<img src="{{ item['avatar'] }}" alt="{{ item['avatar'] }}" class="avatar avatar-xlg mb-3" />
					<h5 class="mb-0">{{ item['name'] }}</h5>
					<span>{{ item['role'] }}</span>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="bg-primary-alt o-hidden">
	<div class="container">
		<div class="row mb-4">
			<div class="col">
				<h2>{% translate about.history.title %}</h2>
			</div>
		</div>
		<div class="row o-hidden o-lg-visible">
			<div class="col d-flex flex-column align-items-center">
				<ol class="process-vertical">
					{% for event in site.translations[site.lang].about.history.events %}
					<li data-aos="fade-left">
						<div class="process-circle bg-primary"></div>
						<div>
							<span class="text-small text-muted">{{ event['date'] }}</span>
							<h5 class="mb-0">{{ event['title'] }}</h5>
						</div>
					</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
</section>
