---
title: nav.customer_stories
layout: default
permalink: /customer-stories/
---

<section class="bg-primary-alt header-inner o-hidden pb-0 mb-lg-n7">
	<div class="container">
		<div class="row my-3">
			<div class="col">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/">{% translate global.home %}</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">{% translate nav.customer_stories %}</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row pt-5 py-5 text-center justify-content-center align-items-center layer-2">
			<div class="col-xl-8 col-lg-10">
				<h1 class="display-4">{% translate customer_stories.hero.title %}</h1>
				<p class="lead mb-0">{% translate customer_stories.hero.lead %}</p>
			</div>
		</div>
	</div>
	<div class="decoration top right scale-2 d-none d-lg-block" data-jarallax-element="-200">
		<img class="bg-primary" src="/assets/img/decorations/deco-blob-2.svg" alt="deco-blob-2 decoration" data-inject-svg />
	</div>
	<div class="divider layer-0">
		<img src="/assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
	</div>
</section>
<section class="pt-5">
	<div class="container">
		<div class="row">
			{% for story in site.translations[site.lang].customer_stories.stories %}
			<div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
				<div class="card">
					<img src="{{ story['thumbnail'] }}" alt="Image" class="card-img-top" />
					<div class="card-body align-items-start">
						<div class="mb-3">
							<a href="{{ story['company_url'] }}">
								<img class="icon icon-md" src="{{ story['company_logo'] }}" alt="Icon" />
							</a>
						</div>
						<p>{{ story['description'] }}</p>
						{% for action in story['actions'] %}
						<p>
							<a href="{{ action['url'] }}" target="_blank" class="hover-arrow">{{ action['title'] }}</a>
						</p>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
