---
title: nav.figuar_studio
layout: default
permalink: /studio/
---

<!-- Hero -->
<section class="o-hidden">
	<div class="container">
		<div class="row align-items-center min-vh-50">
			<div class="col-lg-6 text-center text-lg-left mb-4 mb-lg-0">
				<h3>{% translate studio.hero.subtitle %}</h3>
				<h1 class="display-3">{% translate studio.hero.title %}</h1>
				<div class="my-4">
					<p class="lead">{% translate studio.hero.lead %}</p>
				</div>
				<a href="/contact/" class="btn btn-lg btn-primary">{% translate global.contact_verb %}</a>
			</div>
			<div class="col-lg-6 text-center" data-aos="fade-left">
				<img src="/assets/img/home/studio-frame.jpg" alt="Image" />
			</div>
		</div>
	</div>
</section>

<!-- Shoot -->
<section class="bg-primary-alt has-divider">
	<div class="divider flip-y">
		<img class="bg-white" src="/assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
	</div>
	<div class="container pb-0">
		<div class="row justify-content-center text-center mb-6">
			<div class="col-xl-8 col-lg-9">
				<h2 class="display-4 mx-xl-6">{% translate studio.process.title %}</h2>
				<p class="lead">{% translate studio.process.lead %}</p>
			</div>
		</div>
		<div class="row justify-content-center text-center">
			{% for spec in site.translations[site.lang].studio.process.specs %}
			<div
				class="col-6 col-md-3 mb-3 mb-4 mb-md-0"
				data-aos="fade-up"
				data-aos-delay="{{ forloop.index | times: 100 }}"
			>
				<span
					class="display-4 text-primary d-block"
					data-countup
					data-grouping="true"
					data-duration="2"
					data-start="{{ spec['start_value'] }}"
					data-end="{{ spec['end_value'] }}"
					{% if spec['suffix'] %}
					data-suffix="{{ spec['suffix'] }}"
					{% endif %}
					{% if spec['decimal_places'] %}
					data-decimal-places="{{ spec['decimal_places'] }}"
					{% endif %}
				></span>
				<span class="h6">{{ spec['title'] }}</span>
			</div>
			{% endfor %}
		</div>
		<div class="row justify-content-center mt-6 mb-lg-n7">
			<div class="col-xl-8 col-lg-9 layer-1">
				<div class="video-poster shadow-lg rounded mb-3">
					<img src="/assets/img/studio/metashape.png" alt="Image" />
				</div>
			</div>
		</div>
	</div>
	<div class="divider flip-x">
		<img class="bg-primary-2-alt" src="/assets/img/dividers/divider-1.svg" alt="divider graphic" data-inject-svg />
	</div>
</section>

<!-- Animate -->
<section class="bg-primary-2-alt has-divider">
	<div class="container pb-0">
		<div class="row justify-content-center text-center mb-6">
			<div class="col-xl-8 col-lg-9">
				<h2 class="display-4 mx-xl-6">{% translate studio.animation.title %}</h2>
				<p class="lead">{% translate studio.animation.lead %}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 mb-4 mb-md-0">
				<ul class="nav flex-column" role="tablist">
					{% for video in site.translations[site.lang].studio.animation.videos %}
					<li class="nav-item">
						<a
							class="nav-link btn btn-light p-2 text-left{% if forloop.first == true %} active{% endif %}"
							href="#app-tab-{{ forloop.index }}"
							data-toggle="tab"
							aria-controls="app-tab-{{ forloop.index }}"
							aria-selected="true"
							role="tab"
						>
							<img class="icon bg-primary" src="{{ video['icon'] }}" alt="decoration" data-inject-svg />
							{{ video['title'] }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col mb-lg-n7 layer-2">
				<div class="tab-content">
					{% for video in site.translations[site.lang].studio.animation.videos %}
					<div
						class="tab-pane fade{% if forloop.first == true %} show active{% endif %}"
						id="app-tab-{{ forloop.index }}"
						role="tabpanel"
						aria-labelledby="app-tab-{{ forloop.index }}"
					>
						<div class="popover-image">
							<div class="popover-hotspot bg-primary-2" style="bottom: 11.4%; left: 2.05%;" data-toggle="popover" title="전체 화면 버튼" data-content="손쉽게 전체 화면으로 진입하고 나갈 수 있습니다."></div>
							<div class="popover-hotspot bg-primary-2" style="top: 0.6%; right: 5.8%;" data-toggle="popover" title="소셜 링크 버튼" data-content="여러 소셜 네트워크 서비스를 연결할 수 있습니다."></div>
							<video src="{{ video['src'] }}" class="rounded shadow-lg" playsinline autoplay muted loop></video>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="divider flip-x">
		<img class="bg-primary-alt" src="/assets/img/dividers/divider-3.svg" alt="graphical divider" data-inject-svg />
	</div>
</section>

<section class="bg-primary-alt has-divider">
	<div class="container pb-0">
		<div class="row justify-content-center text-center mb-6">
			<div class="col-xl-8 col-lg-9">
				<h2 class="display-4 mx-xl-6">{% translate studio.kids.title %}</h2>
				<p class="lead">{% translate studio.kids.lead %}</p>
			</div>
		</div>
		<div class="row justify-content-center mt-6 mb-lg-n7">
			<div class="col-xl-8 col-lg-9 layer-1">
				<video src="/assets/img/studio/daughter-breakdance.mp4" class="rounded shadow-lg" playsinline autoplay muted loop></video>
			</div>
		</div>
	</div>
	<div class="divider flip-x">
		<img class="bg-white" src="/assets/img/dividers/divider-1.svg" alt="divider graphic" data-inject-svg />
	</div>
</section>

<section class="has-divider">
	<div class="container">
		<div class="row justify-content-center text-center mb-6">
			<div class="col-xl-8 col-lg-9">
				<h2 class="display-4 mx-xl-6">{% translate studio.usage.title %}</h2>
				<p class="lead">{% translate studio.usage.lead %}</p>
			</div>
		</div>
		<div class="row text-center">
			{% for outlet in site.translations[site.lang].studio.usage.outlets %}
			<div class="col-md-4" data-aos="fade-up" data-aos-delay="{{ forloop.index | times: 100 }}">
				<div class="icon-round bg-primary mx-auto mb-4">
					<img class="icon bg-primary" src="{{ outlet['icon'] }}" alt="icon" data-inject-svg />
				</div>
				<h5>{{ outlet['title'] }}</h5>
				<p class="mx-xl-3">{{ outlet['lead'] }}</p>
				{% if outlet['detail_path'] %}
				<a href="{{ outlet['detail_path'] | prepend: site.baseurl }}" class="hover-arrow">{% translate global.learn_more %}</a>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="divider">
		<img class="bg-primary-3" src="/assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
	</div>
</section>
