<footer class="pb-4 bg-primary-3 text-light" id="footer">
    <div class="container">
        {% unless page.hide_banner == true %}
        <div class="row mb-5">
            <div class="col">
                <div class="card card-body border-0 o-hidden mb-0 bg-primary text-light">
                    <div class="position-relative d-flex flex-column flex-md-row justify-content-between align-items-center">
                        <div class="h3 text-center mb-md-0">저희와 함께 미래를 열어갈 파트너를 찾고 있습니다.</div>
                        <a href="/contact/" class="btn btn-lg btn-white">
                            문의하기
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endunless %}
        <div class="row mb-5">
            <div class="col-12 col-lg">
                <h5>연락처</h5>
                <ul class="list-unstyled">
                    <li class="mb-3 d-flex">
                        <img class="icon" src="/assets/img/icons/theme/map/marker-1.svg" alt="marker-1 icon" data-inject-svg />
                        <div class="ml-3">
                            <span>{{ site.address }}
                                <span class="d-block text-muted text-small">{{ site.address_suffix }}</span>
                            </span>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <img class="icon" src="/assets/img/icons/theme/communication/call-1.svg" alt="call-1 icon" data-inject-svg />
                        <div class="ml-3">
                            <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <img class="icon" src="/assets/img/icons/theme/communication/mail.svg" alt="mail icon" data-inject-svg />
                        <div class="ml-3">
                            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-auto">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="https://www.youtube.com/channel/{{ site.social.youtube }}" class="nav-link">
                            <img class="icon undefined" src="/assets/img/icons/social/youtube.svg" alt="youtube social icon" data-inject-svg />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/{{ site.social.facebook }}" class="nav-link">
                            <img class="icon undefined" src="/assets/img/icons/social/facebook.svg" alt="facebook social icon" data-inject-svg />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com/{{ site.social.instagram }}/" class="nav-link">
                            <img class="icon undefined" src="/assets/img/icons/social/instagram.svg" alt="instagram social icon" data-inject-svg />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/{{ site.social.github }}/" class="nav-link">
                            <img class="icon undefined" src="/assets/img/icons/theme/social/github.svg" alt="github social icon" data-inject-svg />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-md-auto text-center">
                <small class="text-muted">© 2015-{{ 'now' | date: "%Y" }} 주식회사 무빙키</small>
            </div>
        </div>
    </div>
</footer>
