<div class="navbar-container bg-white">
	<nav class="navbar navbar-expand-lg navbar-light bg-white" data-sticky="top">
		<div class="container">
			<a class="navbar-brand fade-page" href="/">
				<img src="/assets/img/figuar-logo.svg" alt="Leap" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
				<img class="icon navbar-toggler-open" src="/assets/img/icons/interface/menu.svg" alt="menu interface icon" data-inject-svg />
				<img class="icon navbar-toggler-close" src="/assets/img/icons/interface/cross.svg" alt="cross interface icon" data-inject-svg />
			</button>
			<div class="collapse navbar-collapse justify-content-end">
				<div class="py-2 py-lg-0">
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">제품</a>
							<div class="dropdown-menu row">
								<div class="col-auto" data-dropdown-content>
									<div class="dropdown-grid-menu">
										<a href="/message/" class="dropdown-item fade-page">FiguAR Message</a>
										<a href="/studio/" class="dropdown-item fade-page">FiguAR Studio</a>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<a href="/customer-stories/" class="nav-link">고객 사례</a>
						</li>
						<li class="nav-item">
							<a href="/about/" class="nav-link">회사 소개</a>
						</li>
					</ul>
				</div>
				<a href="/contact" class="btn btn-primary ml-lg-3">연락하기</a>
			</div>
		</div>
	</nav>
</div>
